/**
 * @file
 * Subtheme specific CSS.
 */
 @import url('https://play.qagoma.qld.gov.au/_assets/fonts/flama.css');

body, h1, h2, h3, h4, h5, p, li, a{font-family: Flama, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;}

/*make QAGOMA header not sticky, and submenu sticky*/
@media only screen and (min-width: 769px) { 
    .qagoma .m-wrap.not-sticky{
        position: absolute;   
    }
}

 .nav-line a, .main-content a, .main-content .link {
  color:#454242;
  text-decoration:underline;
  transition:color 0.2s;
 }
 
 .nav-line a:visited, .main-content a:visited, .main-content .link:visited {
     color:#715877;
 }
 
 .nav-line a:hover,  .main-content a:hover,  .main-content .link:hover,
 .nav-line a:active, .main-content a:active, .main-content .link:active {
     color:black;
 }
 
 .main-content .btn {
     text-decoration:none;
     transition:background-color 0.2s;
 }
 
 .main-content h3 a {
     text-decoration:none;
 }
 
 .main-content .btn-dark {
     background:#454242;
     border-color:#454242;
     color:white;
 }
 
 .main-content .btn-dark:visited {
     color:white;
 }
 
 .main-content .btn-dark:focus {
     box-shadow:0 0 0 0.2rem rgba(69,66,66,.25)
 }
 
 .main-content .btn-dark:hover {
    color: white; 
    background:#3a3737;
 }
 
 #navbar-top {
     background:#454242 !important;
 }
 
 .main-content {
     margin-bottom:2em;
 }
 
 /*override default bootstrap banner bits banner*/
 .navbar.bg-primary {
     background-color:#fff!important;
     text-align:center;
 }

 .navbar.bg-primary a {
     width:100%
 }

 .navbar-brand {
     margin:auto;   
     max-width:20em;
 }

 #navbar-main {
     display: none;
 }
 
 /*Search and Nav Box*/
 .nav-line {
     color: #999;
 }

 .nav-line a {
     color: #333;
 }

 .nav-line a i {
     color: #999;
 }

 /*bespoke nav for Collection Online Beta links*/
 section.header h1 {
    text-align: center;
    font-weight: 300;
    font-size: 2.2em;
    margin:0.5em 0;
    }

 section.header h1 a {
        color: #454242;
    }
 
 .navbar-brand {
    margin:0
 }

 .top-bespoke-nav {
     -ms-flex-direction: row;
     flex-direction: row;
     align-items: left;   
 }

 .navbar.navbar-expand-sm .navbar-nav {
     margin:auto;
 }

 .highlighted .bg-light {
     background-color: white!important;
 }

 .top-bespoke-nav li {
    margin: 0.4rem 0.4rem 0;
 }

 .navbar-light ul.navbar-nav .nav-link { 
     color:rgba(0,0,0,0.7);
 } 

 .navbar-light ul.navbar-nav .nav-link:hover,
 .navbar-light ul.navbar-nav .nav-link:active { 
     color:rgba(0,0,0,0.9);
     text-decoration:underline
 } 

/*Position the pulldown menu on desktop so it doesn't go off screen*/

@media only screen and (max-width: 576px) {
    .top-bespoke-nav .dropdown .dropdown-menu.show {        
        margin-left: -9rem;
    }
    .navbar-expand-sm .navbar-collapse {
        display: flex!important;
    }
}



 .dropdown-item:active {
    background-color: #f8f9fa!important;
    color: #454242;    
 }

 body h1 {
     font-weight: 500;
     text-align: center;
     margin-top: 1em;
     margin-bottom: 1em;
 }

 body p {
     line-height: 1.5em;
 }
 
 /*Metadata containers*/
 .metadata-container {
     margin-top: 4.2rem;
 }
 /*Metadata containers*/
 .metadata-container-aside {
    margin-top: 4.2rem;
    background-color: #454242;
    color: white;
    padding: 1rem;
    line-height: 1.5rem;;
}

.metadata-container-aside h3 {
    padding-top: 1.5em;
}

.metadata-container-aside .clipboard .clipboard-input {
    width: 100%;
}

.metadata-container-aside dl dd {
    border-bottom: none;
}

.metadata-container-aside a,
.metadata-container-aside a:visited,
.metadata-container-aside a:active {
    color: white;
}

.metadata-container-aside a:hover {
    color: rgba(255,255,255,0.8);
}

@media only screen and (min-width: 768px) {
    .metadata-container {
        padding-right: 1.5rem;
    }
}
 
 /*Make uppercase for these headings as the EMu data is all over the place*/
 .node--type-object h2,
 .node--type-stories h2,
 .node--type-creator h2 {
     text-transform: uppercase;
     font-size: 1.2em;
     margin-top: 2em;
 }

 .node--type-object h3,
 .node--type-stories h3,
 .node--type-creator h3,
 .card h3.card-title {
     text-transform: uppercase;
     font-size: 1.1em;
 }
 
 /*List the names of the artist(s) underneath the main image on the artworks page*/
 .artist-list {
     display: block;
     width: 100%;
    padding:0 1em 2em 1em;
 }
 
 .artist-list ul {
     text-align:center
 }

 .artist-list ul li {
     font-size:1.2rem;list-style-type: none;
 }
 
 /*Object body*/
 /* centering hacks*/
  .node--type-objects .field--name-dynamic-token-fieldnode-image-lookip,
  .node--type-objects .field--name-node-title,
  .node--type-objects .field--name-dynamic-block-fieldnode-creating-artist {
     text-align:center;
  }
 
  .node--type-objects .field--name-dynamic-token-fieldnode-image-lookip {
      margin-top: 2rem;
      margin-bottom: 2rem;
  }
 
  /*cards*/
  .row .card {
      margin-right: 1rem; 
      margin-bottom: 2rem;
      border: none;
 }
 
 .card-body{
     padding-top:0.5em;
 }

 .card-body a {
     text-decoration: none;
 }
 .card-body a:hover {
    text-decoration: underline;
}

 .card-link:hover {
     text-decoration:underline;
 }
 .card-link::after {
    padding-left: 0.5rem;
    content: "\203A"
}

 /*feature image*/
 .img-featured {
     max-height: 92vh;
 }
 
  /*pagination*/
  .pagination{
     display: flex;
     align-items: center;
     justify-content: center;
  }
 
  /*rows and cards columns */
  @media only screen and (min-width: 576px) {
    .row .card{width:100%;}
    .pagination{max-width:100%}
}
  @media only screen and (min-width: 577px) and (max-width: 768px) {
    .row .card-columns.feature-splash {column-count: 2;}
    .row .card{width:100%;}
     .pagination{max-width:100%}
  }
  @media only screen and (min-width: 769px) and (max-width: 1200px) {
     .row .card{max-width:18em;}
     .row .card-columns.feature-splash {column-count: 2;}
     .row .card-columns.feature-splash .card {max-width:36em;}
 }
  @media only screen and (min-width: 1201px) {
      .row .card{max-width:22em;}
      .row .card-columns.feature-splash {column-count: 2;}
      .row .card-columns.feature-splash .card {max-width:44em;}
 }

 /*HOME PAGE Overlay text onto feature images - need to get ratios better in mobile / desktop balance*/

 @media only screen and (max-width:576px) {
    .home-feature {
        background-image: url('/sites/default/files/home-page8.jpg');
        box-shadow: inset 0 0 0 1000px rgba(255,255,255,.7);
    }   
 }

 .home-feature {
    min-height: 425px;
    overflow: hidden;
    margin-bottom: 1em;
    
 }

 .home-feature h1 {
     font-weight:300;
     font-size: 2em;
     padding-top: 3rem;
 }

 .home-feature p {
     text-align: center;
 }

 .card-splash {
     background-color: white;
     border-radius: 0;
     border:none;
 }

 .card-splash .card-img-overlay {
    top: revert;
    bottom: 0.5rem;
    background-color: white;
    text-align: left;
    padding: 1em;
    margin: 0 1rem 5.5rem 1rem;
 }

 .home .card-splash .card-img-overlay {
     margin-bottom: -6rem;
 }

 .row .card-columns.feature-splash .card {
     margin-bottom: 8rem;
 }

 .card-splash .card-img-overlay .card-title {
    text-transform: uppercase;
    text-align: center;
 }
 
 .card-splash .card-text {
     text-align: center;
 }

 .btn-splash {
     color: #454242; 
     border: 0.2rem solid #454242;
     border-radius: 0;
     background-color: white;
}

 .btn-splash:hover, 
 .btn-splash:active, 
 .btn-splash:visited {
     background-color: #454242;
     color: white;
     text-decoration: underline;

    }

 a.btn-splash::after {
        padding-left: 0.5rem;
        content: "\203A"
    }

  /*footer - uppercase that heading yo*/
 .site-footer.site-footer {
      background:#454242;
      color:white;
     font-family:inherit;
     position:relative;
     z-index:999;
  }

  .site-footer__bottom {
      border: none;
      margin-top: 0;
  }
 
  .site-footer__bottom h3 {
     color:inherit;
     font-size:1.1em;
     text-transform:uppercase;
     padding-bottom: 0.5rem;
 }

 .qagoma .footer .links h2 {
     color:#454242;
 }

 /*Search engine is Algolia, do something to the stats count*/
 
 .ais-Stats {
     min-height:38.6px;
     margin-bottom:12px;
     padding-top:17.6px;
 }
 
 .metadata-heading {
     margin-top:1em;
 }
 
 .site-footer__bottom .block {
     padding:0 15px;
 }
 
/*Definition lists for the metadata elements*/

 dl dd, dl dt {
     padding-top:0.3rem;
     padding-bottom:0.8rem;
 }
 
 dl dd {
     border-bottom: 1px solid #e5e5e5;
 }
 
 dl dd.tags {
     text-transform:capitalize;
 }
 
 dl dd.tags-upper {
     text-transform:uppercase;
 }
 
 dl .field--type-entity-reference {
     margin-bottom: 0;
 }

 dl .field--type-entity-reference .field__item {
    display: inline;
 }

 dl .field--name-field-subjects .field__item {
    padding-right: 0.5rem;
 }
/*DL Metadata Column overrides*/
 dl.metadata-col dt{
    width:100%;
    margin:0 1rem;
    padding:0
 }
 dl.metadata-col dd{
     width:100%;
     margin:0 1rem 0.5rem 1rem;
     padding:0
 }


 /*end metadata elements*/
 
 .table thead th {
     background:#454242;
 }
 
 .pagination a {
     text-decoration:none;
     color:#454242;
 }
 
 .page-item.active .page-link {
     background-color:#454242 !important;
     border-color:#454242 !important;
     color:white;
 }
 
 .page-link:focus {
     box-shadow:0 0 0 0.2rem rgba(69, 66, 66, .25);
     color:#454242;
 }

/* RESPONSIVE VIDEO */
.field-youtube-link, .field--name-field-media-oembed-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}


 /*IMAGE GALLERY*/
 .photo-gallery {
    color:#313437;
    background-color:#fff;
  }
  
  .photo-gallery .photos {
    padding-bottom:20px;
  }
  
  .photo-gallery .item {
    padding-bottom:30px;
  }


  /*WIP*/

  .view-similar-taxonomy{margin-top: 5rem;}
 