
  <div class="card">
    <div class="card-body">
      <a href="{{ url }}">
        <h3 class="card-title">{{ node.title.value }}</h3>
      </a>
      <p class="card-subtitle mb-2 text-muted">
        {% if node.field_creation_date_range is not empty %}
        {{ node.field_creation_date_range.value|date('M Y') }} - 
        {{ node.field_creation_date_range.end_value|date('M Y') }} 
        {% else %}
        Date unknown
        {% endif %}
      </p>
    </div>
  </div>